/* DEbug.css |MIT Licensed*/
*:not(path):not(g) {
    color: rgba(66, 63, 63, 0.9) !important;
    background: rgba(132, 112, 243, 0.5) !important;
    outline: solid 0.25rem rgba(48, 33, 33, 0.5) !important;

    box-shadow: none !important;
}

