/* DEbug.css |MIT Licensed*/
*:not(path):not(g) {
    color: rgba(240, 239, 239, 0.9) !important;
    background: rgba(143, 142, 145, 0.5) !important;
    outline: solid 0.25rem rgba(53, 53, 53, 0.5) !important;

    box-shadow: none !important;
}

